<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <title>Traveling app</title>
</head>
<body>
    <div class="wrapper">
        <div class="wrapper__header">
            <img src="./assets/bg.jpg" alt="" class="background-image">
            <div id="header-content" class="wrapper__header-content">
                <h1 class="wrapper__header-content-title">Plan your next trip</h1>
                <form class="wrapper__header-inputs-container" action="">
                    <input id="country-input" type="text" class="input" placeholder="What city?" required>
                    <input id="date-input" type="date" class="input" id="start" name="trip-start"
                    min="2021-10-22" max="2099-12-31" required>
                    <button id="submit" type="submit" class="button-search"> Search </button>
                </form>
            </div>
        </div>
        <div id="result-container"class="wrapper__result">
            <img class="result-bg"src="./assets/plane-bg.png" alt="plane dot image">
            <h1 class="result-container__title">Place information</h1>
            <div class="result-container__data">
                <img id="result-image-place"class="result-container__data-img" alt="">
                <h1 id="result-name-place" class="result-container__data-title">Name of the place</h1>
                <p id="result-weather-place" class="result-container__data-weather">Weather of the place</p>
                <div class="result-container__data-rest-info">
                    <div class="info-weather">
                        <img class="info-weather-img "src="./assets/temperature.png" alt="">
                        <div class="infor-weather-txt">
                            <h1>Temp</h1>
                            <p id="weather-temp">40</p>
                        </div>
                    </div>
                    <div class="info-weather">
                        <img class="info-weather-img "src="./assets/cloud.png" alt="">
                        <div class="infor-weather-txt">
                            <h1>Clouds</h1>
                            <p id="weather-cloud">40</pid="weather-temp">
                        </div>
                    </div>
                    <div class="info-weather">
                        <img class="info-weather-img "src="./assets/windspeed.png" alt="">
                        <div class="infor-weather-txt">
                            <h1>Wind</h1>
                            <p id="weather-wind">40</pid="weather-temp">
                        </div>
                    </div>
                    <div class="info-weather">
                        <img class="info-weather-img "src="./assets/snow.png" alt="">
                        <div class="infor-weather-txt">
                            <h1>Snow</h1>
                            <p id="weather-snow">40</p>
                        </div>
                    </div>
                </div>
                <div class="result-container__data-actions">
                    <button id="save-action" class="result-container__data-actions-save">Save trip</button>
                </div>
            </div>
            <div id="up-arrow" class="result-container-up-wrapper">
                <p class="result-container-up-wrapper__text">Back to search</p>
                <div class="result-container-up-wrapper__image">
                    <img src="./assets/hite-up.png" class="button" alt="back to the search">
                </div>
            </div>
        </div>
        <div id="save-trip-wrapper"class="wrapper_saved-trips">
            <h1 class="wrapper_saved-trips__title">Saved trips</h1>
            <div id="saved-trips"class="wrapper_saved-trips__container">
                
            </div>
        </div>
        <div id="searched-trips" class="wrapper_searched-trips">
                <h1 class="wrapper_searched-trips__title">Searched places</h1>
                <div class="swiper">
                    <div id="swiper-wrapper" class="swiper-wrapper">
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
        </div>
        <div class="wrapper__footer">
            <p>© Roldan Barreto - Almunz Tech</p>
        </div>
    </div>
    <div id="snackbar"></div>
</body>
</html>