// color
$color-background: white;
$color-primary: #a2e0ea;
$color-secondary: #1c8696;
$color-successful: #04aa6d;

// Font family
$font-family-primarly: "Montserrat", "proxima-nova", sans-serif;
$font-family-main-title: "Tangerine", "proxima-nova", sans-serif;

// Font weight 
$font-weight-light: 300 !default;
$font-weight-regular: 400 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 800 !default;

// Font sizes
$font-size-base-value: 16;
$font-size-base: 16px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-30: 32px;
$font-size-32: 32px;
$font-size-44: 44px;
$font-size-60: 60px;

// spacing
$space-element-10: 10px;
$space-element-20: 20px;
$space-element-40: 40px;